
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
             <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">We are ready for your digital marketing</h1>

                                   <a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let us discuss together!</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{% static 'blog/images/working-girl' %}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
             </section>
  <!-- TESTIMONIAL -->
 <section class="testimonial section-padding">
      <div class="container">
           <div class="row">

                <div class="col-lg-6 col-md-5 col-12">
                    <div class="contact-image" data-aos="fade-up">

                      <img src="images/female-avatar.png" class="img-fluid" alt="website">
                    </div>
                </div>

                <div class="col-lg-6 col-md-7 col-12">
                  <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Client Testimonials</h4>

                  <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                  <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.</h2>

                  <p data-aos="fade-up" data-aos-delay="400">
                    <strong>Mary Zoe</strong>

                    <span class="mx-1">/</span>

                    <small>Digital Agency (CEO)</small>
                  </p>
                </div>

           </div>
      </div>
 </section>
{% endblock content %}
