{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Bugun qo'shiling</legend>
                <div id="div_id_username" class="form-group">
                    <label for="id_username" class=" requiredField">Foydalanuvchining ismi<span class="asteriskField">*</span> </label>
                    <div class="">
                        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus class="textinput textInput form-control" required id="id_username">
                        <small id="hint_id_username" class="form-text text-muted">Talablar. Maksimal 150ta harf yoki undan kamroq. Harflar, raqamlar va @/./+/-/_ faqat.</small>
                    </div>
                </div>
                <div id="div_id_email" class="form-group">
                    <label for="id_email" class=" requiredField">Email<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="email" name="email" class="emailinput form-control" required id="id_email">
                    </div>
                </div>
                <div id="div_id_password1" class="form-group">
                    <label for="id_password1" class=" requiredField"> Parol<span class="asteriskField">*</span> </label>
                    <div class="">
                        <input type="password" name="password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_password1">
                        <small id="hint_id_password1" class="form-text text-muted">
                            <ul><li>Parolingiz boshqa shaxsiy ma'lumotlaringizga juda o'xshash bo'lishi mumkin emas.</li>
                                <li>Parolingiz kamida 8 ta belgidan iborat bo'lishi kerak.</li>
                                <li>Parolingiz odatda ishlatiladigan parol bo'lishi mumkin emas.</li>
                                <li>Parolingiz to'liq raqamli bo'lishi mumkin emas.</li>
                            </ul>
                        </small>
                    </div>
                </div>
                <div id="div_id_password2" class="form-group">
                    <label for="id_password2" class=" requiredField">Parolni tasdiqlash<span class="asteriskField">*</span> </label>
                     <div class="">
                         <input type="password" name="password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_password2">
                         <small id="hint_id_password2" class="form-text text-muted">Tasdiqlash uchun avvalgidek parolni kiriting</small>
                     </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Ro'yhatdan o'tish</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Allaqachon Akkountiz bormi? <a class="ml-2" href="#">Ro'yhatdan o'tish</a>
            </small>
        </div>
    </div>
{% endblock content %}